:root {
  --clr-primary-400: rgb(99,100,226);

  --clr-accent-400: hsl(153, 68%, 42%);

  --clr-neutral-100: hsl(0, 0%, 100%);  
  --clr-neutral-900: hsl(0, 0%, 0%);  

  --ff-primary: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;;


  --ff-body: var(--ff-primary);
  --ff-heading: var(--ff-primary);


  --fw-regular: 400;
  --fw-semi-bold: 500;
  --fw-bold: 700;


  --fs-300: 0.8125rem;
  --fs-400: 0.875rem;
  --fs-500: 1rem;
  --fs-600: 1.5rem;
  --fs-700: 2rem;
  --fs-800: 2.5rem;
  --fs-850: 3.3rem;
  --fs-900: 3.5rem;

  --fs-body: var(--fs-400);
  --fs-primary-heading: var(--fs-800);
  --fs-secondary-heading: var(--fs-700);
  --fs-nav: var(--fs-500);
  --fs-button: var(--fs-300);

  --size-100: .25rem;
  --size-200: .5rem;
  --size-300: .75rem;
  --size-400: 1rem;
  --size-500: 1.5rem;
  --size-600: 2rem;
  --size-700: 3rem;
  --size-800: 4rem;
  --size-900: 5rem;
  --size-1000: 6rem;

}

@media (min-width: 50em) {
  :root {
    --fs-300: .875rem;
    --fs-400: 1rem;
    --fs-450: 1.35rem;
    --fs-500: 1.5rem;
    --fs-600: 2rem;
    --fs-700: 2.5rem;
    --fs-800: 3rem;
    --fs-850: 4rem;
    --fs-900: 6rem;

    --fs-body: var(--fs-400);
    --fs-primary-heading: var(--fs-800);
    --fs-secondary-heading: var(--fs-700);
    --fs-nav: var(--fs-400);
    --fs-button: var(--fs-500);
    --fs-tag: var(--fs-450);

  }
}

@media (min-width: 142.5em) {
  :root {
    --fs-body: var(--fs-600);
    --fs-primary-heading: var(--fs-900);
    --fs-secondary-heading: var(--fs-850);
    --fs-nav: var(--fs-600);
    --fs-button: var(--fs-600);
    --fs-tag: var(--fs-550);
  } 
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html, body {
  height: 100%;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

p {
  line-height: 1.5;
}

ul, p {
  margin: 0;
  list-style: none;
  font-weight: 2

}

a {
  text-decoration: none;
  color: inherit;
}

button, input {
  outline: none;
  border: none;
  background: transparent;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}



/* UTILITY CLASSES */
.text-neutral-100 {
  color: var(--clr-neutral-100);
}
.text-neutral-900 {
  color: var(--clr-neutral-900);
}

.btn-primary-400 {
  color: var(--clr-primary-400);
}
.btn-accent-400 {
  color: var(--clr-accent-400);
}

.text-primary-400 {
  color: var(--clr-primary-400);
}
.text-accent-400 {
  color: var(--clr-accent-400);
}
.bg-primary-400 {
  background-color: var(--clr-primary-400);
}
.bg-accent-400 {
  background-color: var(--clr-accent-400);
}

.fw-bold {font-weight: var(--fw-bold);}
.fw-semi-bold {font-weight: var(--fw-semi-bold);}
.fw-regular {font-weight: var(--fw-regular);}

.fs-primary-heading {
  font-size: var(--fs-primary-heading);
  line-height: 1.2;
  margin-bottom: var(--size-600);
}
.fs-secondary-heading {
  font-size: var(--fs-secondary-heading);
  line-height: 1.1;
  margin-bottom: var(--size-600);
}

.padding-block-400 {
  padding-block: var(--size-900);
}

@media (max-width: 425px) {
  .padding-block-400 {
    padding-block: var(--size-700);
  }
}

.invert {
  filter: brightness(100);
}

.simple-link {
  display: flex;
  align-items: center;
  gap: .5rem;
  font-weight: bold;
  margin-block: var(--size-500);
}

.simple-link i,
.simple-link {
  color: var(--clr-accent-400);
}

.logo {
  width: clamp(150px, 1rem + 10vw, 200px);
}

.super-light {
  color: black;
  opacity: .5;
}

.white-box {
  color: var(--clr-neutral-900);
  background-color: rgb(255, 255, 255);
  box-shadow: 0 7px 18px rgba(0,0,0,.08);
  cursor: pointer;
}

.container {
  --max-width: 1110px;
  ---padding: 1rem;

  width: min(var(--max-width), 100% - var(---padding) * 2);
  margin-inline: auto;

}

.one-column {
  text-align: center;
  display: grid;
  place-items: center;
  padding-block: 3rem;
  padding-inline: clamp(1rem, 1rem + 10vw, 2rem);
}

@media (min-width: 50em) {
  .one-column {
    padding-block: 3rem;
    padding-inline: clamp(15rem, 1rem + 10vw, 10em);
  }
}

.even-columns {
  display: grid;
  gap: 1em;
}

@media (min-width: 50em) {
  .even-columns {
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
  }
}

/* ============= GENERAL STYLING ============= */
body {
  font-size: var(--fs-body);
  font-family: var(--ff-body);
  color: var(--clr-neutral-900);
}

/* ============================
==================Navigation bar */
header {
  padding-top: var(--size-400);
}

@media (max-width: 49.9375em) {
  header {
    margin-bottom: var(--size-600);
  }
  header .hamburger {
    font-size: clamp(1rem, 1rem + 10vw, 2rem);
    display: none;
  }
}

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .hamburger {
  font-size: clamp(1rem, 1rem + 10vw, 2rem);
  display: block;
}

.primary-nav {
  display: none;
}

@media (min-width: 50em) {
  header .container {
    display: flex;
    align-items: center;
    gap: 4rem;
    justify-content: initial;
  }

  .primary-nav {
    display: flex;
    align-items: center;
    gap: 3rem;
  }
  header .hamburger {
    display: none;
  }
}

/* ============================
==================Hero section */

@media (max-width: 49.9375em) {
  #hero .hero__context {
    order: 1;
  }
}

#hero .hero__image {
  border-radius: 3rem;
  overflow: hidden;
}

#hero .hero__image img {
  height: 100%;
  object-fit: cover;
  object-position: left;
}

#hero button{
  display: flex;
  gap: .5rem;
  padding: .5rem 1.1rem;
  border-radius: .5rem;
  align-items: center;
  line-height: 1;
}

#hero .fa-apple {
  font-size: 2.5rem;
}

#hero button h1 {
  font-size: 1.2rem;
}

#hero button p {
  font-size: .8rem;
}

/* %%%%%%%%%%%%%%%%%%%%% 
  COMPLEXITY FIX - MEDIA QUERY - hero %%%%%%%%%%%%%%%%%%%%% */
@media (min-width: 49.9357em) {
  #hero {
      height: 88vh;
  }

  #hero .container, #hero .even-columns{
    height: 100%;
  }
    
  #hero .hero__context {
    margin-top: 8rem;
    padding-right: 5rem;
  }

}


/* ============================
==================Fight-back section */




/* ============================
==================For Personal section */
#personal .even-columns {
  gap: 4rem;
}
#personal .phone {
  width: min(var(--max-width), 100% - var(---padding) * 2);
  margin-inline: auto;
  padding-block: 2rem;
}

@media (min-width: 375px) {
  #personal .phone {
    /* width: 70%; */
    margin-inline: auto;
  }
}

#personal .phone-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: var(--size-600);
}

#personal .phone-header .fa-bars {
  font-size: 1.2rem;
}

#personal .phone .title-txt {
  font-size: 2rem;
  margin-bottom: var(--size-300);
}

#personal .phone .para {
  margin-bottom: 2rem;
}

#personal .phone .tree-planted {
  background-color: var(--clr-accent-400);
  color: var(--clr-neutral-100);
  border-radius: .5rem;
  display: grid;
  place-items: center;
  padding-block: var(--size-200);
  margin-bottom: var(--size-500);
}

#personal .phone .rate {
  display: flex;
  align-items: center;
}

#personal .phone .rate span {
  font-size: 2rem;
}

#personal .phone-gallery {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
}

#personal .phone-gallery img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 1.5rem;
    margin-bottom: .5rem;
}

#personal .phone-gallery span {
  font-weight: var(--fw-bold);
}

#personal .context .fs-secondary-heading{
  margin-top: var(--size-600) ;
}


/* %%%%%%%%%%%%%%%%%%%%% 
  COMPLEXITY FIX - MEDIA QUERY - personal %%%%%%%%%%%%%%%%%%%%% */
  @media (min-width: 49.9357em) {
    #personal .even-columns {
      gap: 10rem;
      align-items: center;
    }
    

    #personal .phone {
      width: 400px;
      height: 700px;
      border-radius: 5rem;
      padding-inline: 2rem;
      margin-left: 5rem;
    }

    #personal .context {
      padding-right: 5rem;
    }

        
    #personal .phone .tree-planted {
      background-color: var(--clr-accent-400);
      color: var(--clr-neutral-100);
      border-radius: .5rem;
      display: grid;
      place-items: center;
      padding-block: var(--size-100);
      margin-bottom: var(--size-500);
    }

    #personal .phone .rate img {
      width: 30px;
    }

    #personal .phone .rate span {
      font-size: 1.7rem;
    }
  }


/* ============================
==================For Business section */
#business .product-card {
  width: min(var(--max-width), 100% - var(---padding) * 2);
  margin-inline: auto;
  padding-block: 2rem;
}
#business .context .fs-secondary-heading{
  margin-top: var(--size-600) ;
}

#business .product-card .title {
  font-size: var(--size-500);
}

#business .product {
  margin-block: 4rem;
  display: grid;
  place-items: center;
  box-shadow: 0 7px 60px rgba(0,0,0,.05);
  padding: 5rem 3rem;
}

#business .price-tag {
  font-size: var(--size-500);
}

#business .add-cart {
  color: var(--clr-neutral-100);
  text-align: center;
  padding-block: 1rem;
  border-radius: .3rem;
  margin-block: var(--size-500);
}

#business .box-rate {
  color: var(--clr-neutral-100);
  text-align: center;
  padding-block: 1rem;
  border-radius: .3rem;
  display: grid;
  place-items: center;
}

#business .box-rate .logo-n-box {
  width: 130px;
  margin-top: var(--size-100);
}

#business .instagram {
  margin-top: var(--size-800);
  padding: var(--size-500) var(--size-500);

}

#business .instagram i {
  font-size: 1.2rem;
}

#business .instagram-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: .4rem;
}

#business .instagram-header .profile {
  display: flex;
  align-items: center;
  gap: 1rem;
}

#business .instagram-header .profile-image {
  width: 40px;
  aspect-ratio: 1 / 1;
  background-color: rgb(180, 180, 180);
  border-radius: 50%;
}

#business .instagram-header .profile-name {
  /* font-size: var(--fs-500); */
}

#business .instagram .featured {
  margin-block: var(--size-400);
}

#business .icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: .4rem;
}

#business .icon-main {
  display: flex;
  gap: 1rem;
}

.fa-heart {
  color: hsl(0,100%,54.31%);
}

#business .instagram .likes {
  margin-block: var(--size-300);
  margin-left: .4rem;
}

#business .box-rate {
  background-color: var(--clr-accent-400);
  color: var(--clr-neutral-100);
  border-radius: .3rem;
  display: grid;
  place-items: center;
  padding-block: var(--size-200);
  margin-block: var(--size-500);
}


#business .box-rate h1 {
  display: flex;
  align-items: center;
  font-size: 2rem;
}

#business .box-rate p {
  text-align: center;
}

/* %%%%%%%%%%%%%%%%%%%%% 
  COMPLEXITY FIX - MEDIA QUERY - Business %%%%%%%%%%%%%%%%%%%%% */
  @media (min-width: 49.9357em) {
    #business .even-columns {
      gap: 1rem;
      align-items: center;
    }

    #business .context {
      padding-right: 5rem;
      margin-left: 5rem;
    }
    
    #business .business__objects {
      /* border: 1px solid red; */
      display: grid;
      grid-template-columns: 1fr 1fr;
      /* width: 50%; */
    }
    
    #business .product-card {
      padding-inline: 2rem;
      font-size: .8rem;
      margin-inline-end: 1rem;
      padding-block: 2rem;
      border-radius: var(--size-900);
      width: 300px;
      height: 500px;
    }

    #business .context .fs-secondary-heading{
      margin-top: var(--size-500) ;
    }
    
    #business .product-card .title {
      font-size: 1.2rem;
      margin-bottom: 1rem;
      max-width: 80%;
    }
    
    #business .product {
      margin-block: 0rem;
      padding: 3rem 3rem;
      height: 150px;
      position: relative;
    }

    #business .product img {
      position: absolute;
      height: 80%;
      width: 60%;
    }
    
    #business .product-card .price-tag {
      font-size: 1.2rem;
      margin-block: 1rem;
      /* border: 1px solid red; */
    }

    #business .para {
      font-size: .7rem;
    }
    
    #business .add-cart {
      padding-block: .7rem;
      border-radius: .2rem;
      margin-block: var(--size-400);
    }
    
    #business .product-card .box-rate {
      border-radius: .2rem;
      padding-block: var(--size-200);
      margin-block-start: 0;
    }
    
    #business .product-card .box-rate .logo-n-box {
      width: 100px;
      margin-top: var(--size-100);
    }
  
    #business .instagram {
      margin-top: 0;
      padding: var(--size-500) var(--size-500);
      border-radius: var(--size-300);
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    }

    #business .instagram i {
      font-size: 1rem;
    }

    #business .instagram-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-inline: .4rem;
    }

    #business .instagram-header .profile {
      gap: .5rem;
    }

    #business .instagram-header .profile-image {
      width: 40px;
    }

    #business .instagram-header .profile-name {
      font-size: 11px;
    }

    #business .instagram .featured {
      height: 150px;
    }

    #business .instagram .featured img {
      height: 100%;
      object-fit: cover;
    }

    #business .instagram p {
      font-size: .6rem;
    }
    
    #business .box-rate h1 {
      display: flex;
      align-items: center;
      font-size: 1.3rem;
    }
    
    #business .box-rate p {
      font-size: var(--fs-300);
    }

    #business .box-rate img {
      width: 25px;
    }
    
}

/* ============================
==================Sign up section */
@media (min-width: 50em) {
  #sign-up form {
    display: flex;
    align-items: center;
    gap: 2rem;
  }
  #sign-up label input {
    min-width: 300px;
  }
}

#sign-up form {
  margin-top: 2rem;
}

#sign-up label  {
  position: relative;
}

#sign-up label::after {
  content: '';
  position: absolute;
  bottom: -35%;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: var(--clr-neutral-900);
}



/* ============================
==================Footer section */
footer {
  padding-bottom: 1rem;
}

footer .side1 {
  display: grid;
  gap: 3.5rem;
}

footer .footer__links {
  display: flex;
  gap: 2rem;
  font-weight: bold;
  height: max-content;
  align-self: flex-end;
  margin-left: auto;
}


/* BIG SCREENS */
@media (min-width: 142.5em) {
  .fs-primary-heading {
    font-size: var(--fs-primary-heading);
    line-height: 1.2;
    margin-bottom: var(--size-800);
  }
  .fs-secondary-heading {
    font-size: var(--fs-secondary-heading);
    line-height: 1.1;
    margin-bottom: var(--size-800);
  }
  .container {
    --max-width: 2210px;
    ---padding: 1rem;
  
    width: min(var(--max-width), 100% - var(---padding) * 2);
    margin-inline: auto;
  }

  header .logo {
    width: 300px;
    margin-right: 3rem;
  }
  

  #hero {
    height: 100vh;
}

  #hero .hero__context {
    padding-left: 14rem;
    margin-top: 15rem;
  }

  #hero .hero__context > p {
    margin-bottom: var(--size-700);
  }

  #hero .fa-apple {
    font-size: 3.5rem;
  }
    
  #hero button h1 {
    font-size: 1.5rem;
  }

  #hero button p {
    font-size: 1rem;
  }
  
.padding-block-400 {
  padding-block: 7rem;
}
}
